* {
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.navbar{
    background-color: #654236 !important;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif !important;   
    font-weight: 700 !important;

}
.cursor{

}