* {
    margin: 0;
}

.apptsx{
    background-color: #FFF5EB;
}

a{
    text-decoration: none;
    color: inherit;
}

.navbar{
    background-color: #654236 !important;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif !important;   
    font-weight: 700 !important;

}
.cursor{

}

/* class="MuiOutlinedInput-notchedOutline css-1d3z3hw-MuiOutlinedInput-notchedOutline" */
.MuiFormLabel-root {
    color: #3d2720 !important
}
.MuiOutlinedInput-notchedOutline {
    border-color: #3d2720  !important;
}