.tituloprojeto{
    margin-bottom: 30px !important;
}

.sobrenos{
    display: flex;
    background-color: #D2BBAC !important;
    align-items: center !important;
    margin-left: 2cm;
    border-radius: 20px !important;
    
}

.fotoequipe{

}

