.tituloprojeto {
    margin-top: 20px !important;
  font-size: 35px !important;
    margin-bottom: 5px !important;
    /* text-decoration: underline; */
    text-align: center;
    text-decoration: none;
    font-family: 'Lato', sans-serif !important;
    font-weight: bold !important;
    
  }
  
  .sobrenos {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ee9c6677 !important;
    border-radius: 10px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  }
  
  .conhecanossaequipe {
    font-size: 45px !important;
    margin-bottom: 35px !important;
    text-decoration: underline;
    text-align: center;
    /* box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.222); */
    text-decoration: none;
    font-family: 'Lato', sans-serif !important;
    font-weight: bold !important;
  }
  
  .fotoequipe {
    border-radius: 100%;
    width: 14vw;
    margin-right: auto; /* Espaço entre a foto e o texto */
    margin-left: auto !important;
    margin-top: 30px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;

  }
  .fotoequipe:hover{
    transform: scale(1.2);

  }
  
  .pitch {
    background-color: #ee9c6677;
    font-family: 'Lato', sans-serif !important;
    /* font-weight: bold !important; */
    max-width: 700px;
    border-radius: 10px;
    text-align: center;
    display: flex; /* Adicionado */
    flex-direction: row; /* Adicionado */
    align-items: center; /* Adicionado */
    margin-left: 50px !important;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  }
  
  .pitch img {
    margin-right: 60px; /* Adicionado */

  }
  
  .fotoposicao {
    display: flex;
    align-items: center; /* Alinhar verticalmente */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -90px;
  }

  .pitch{
    margin-right: auto !important;
    margin-bottom: 30px !important;
    padding: 25px;
    
  }
  .negocinho{
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
    color: #ffebd610;
    margin-bottom: 50px;
  }


 