.text-decorator-none {
    text-decoration: none;
}

.loader, .loader:before, .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
  }
  .loader {
    color: #FFF;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    content: '';
    position: absolute;
    top: 0;
  }
  .loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 3.5em;
  }
  
  @keyframes bblFadInOut {
    0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
    40% { box-shadow: 0 2.5em 0 0 }
  }
    
  .alinhamento {
    display: grid;
    place-items: center;
  }

  .botaopostagens{
    margin-left: 10px !important;
    margin-top: 20px !important;
    background-color: #654236 !important;
    color: #FFEBD6 !important;
    transition: transform 0.5s ease !important;
    box-shadow: 3px 4px 6px #654236 !important;
    border-radius: 50px !important;
    margin-top: -5px !important;
  }

  .botaopostagens:hover{
    font-weight: bolder !important;
    background-color: #897217 !important;
    color: #FFEBD6 !important;
    transform: scale(0.8) !important;

  }
  
  .botaopost2 {
  margin-top: 20px !important;
  display: flex !important;
  background-color: #a72d04 !important;
  color: #FFEBD6 !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 50px !important;
  transition: transform 0.5s ease !important;
  box-shadow: 3px 4px 6px #654236 !important;
  border-color: black !important;
  margin-top: -5px !important;
}

.botaopost2:hover{
  font-weight: bolder !important;
  background-color: #ef3f2b !important;
  color: #FFEBD6 !important;
  transform: scale(0.8) !important;
}

.card3{
  display: flex;
  margin: auto !important;
  background-color: #D2BBAC !important;
  box-shadow: 2px 4px 6px #654236;
  align-items: center !important;
  margin-left: 2cm;
  border-radius: 20px !important;
  border-style: solid !important;
  border-color:#654236 !important;
  /* justify-content: space-between; */
  flex-direction: column;
  width: 25%;

}

.temacard{
  font-size: 15px !important;
  font-family: 'Lato', sans-serif !important;
  font-weight: bold !important;
  color: #402a2362 !important;
}

.temaprincipal{
  font-size: 20px !important;
  font-family: 'Lato', sans-serif !important;
  font-weight: bold !important;
  color:#2c1d17 !important;
}

.margemtemas{
  margin-top: 30px !important;
}