.logoside {
    max-width: 130px; 
    transition: transform 0.3s ease;
}
.logoside:hover{
    transform: scale(1.1);
}

.posilogoside { display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.sidebarmenu{
    font-family: 'Montserrat', sans-serif !important;
}
    /* font-family: 'Lato', sans-serif !important; */

.perfilContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.perfiBanner{
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
}