.logoside {
    max-width: 130px; 
}

.posilogoside { display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.sidebarmenu{
    font-family: 'Montserrat', sans-serif !important;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
}