.logoside {
    max-width: 130px; 
    transition: transform 0.3s ease;
}
.logoside:hover{
    transform: scale(1.1);
}

.posilogoside { display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.sidebarmenu{
    box-shadow: 3px 5px 7px #0000009b;
    font-family: 'Lato', sans-serif !important;
}
    /* font-family: 'Lato', sans-serif !important; */

.perfilContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.perfiBanner{
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.nomeperfilsidebar{
    margin-top: 15px !important;
}

.sidebarinteira{
    box-shadow: 3px 5px 7px #654236;
}