.topo{
  margin-top: 30px !important; 
  border-radius: 10px; 
  background-color: #D2BBAC; 
  width: 80% !important;
}

.tdcadastropost{
    min-height: 75vh !important;
    background-color: #D2BBAC !important;
    margin: 0px !important;
}

.cadastrarposts{
  font-family: 'Lato', sans-serif !important;
}
