.topo{
  margin-top: 30px !important; 
  border-radius: 10px; 
  background-color: #D2BBAC; 
  width: 100% !important;
}

.tdcadastropost{
    min-height: 75vh !important;
    background-color: pink !important;
    margin: 0px !important;
}

