.box1 {
    background-color: #654236;
    height: 150px;
}

.redes {
    font-size: 60px !important; 
    color: white; 
}


.textos {
    color: white;
}

.footer{
    background-color: #654236;
}

.iconesFooter{
    margin-right: 20px;
    margin-top: 20px;
    color: #FFF5EB;
    background-color:#654236;
    justify-content: center;
    margin-left: -10px;
}


.iconeInd2{

    justify-items: center !important;
    font-size: 40px !important;
    margin-left: -350px;
}

.iconeInd1 {
    justify-items: center !important;
    font-size: 40px !important;
    margin-left: -410px;
}


.nomefooter{
    align-items: start !important;
    justify-items: start !important;
    justify-content: flex-start !important;
    margin-left: -500px;
}

.itemsfooter{
    height: 10px !important;
    font-size: 10px !important;
}

.footerposition{
    /* min-height: 100vh !important; */
    /* position: absolute !important; */

}
