.box1 {
    background-color: #654236;
    height: 150px;
}


.footer{
    margin-top: 30px !important;
    display: block !important;
    background-color: #754c3f;
    min-height: 2vh !important;

}

.sombrafooter{
    box-shadow: 1px 2px 3px 4px #0000009b!important;
}

.iconesFooter{
    margin-right: 20px;
    margin-top: 20px;
    color: #FFF5EB;
    background-color:#654236;
    justify-content: center;
    margin-left: -10px;
}


.iconeInd2{

    justify-items: center !important;
    font-size: 45px !important;
    color: #FFF5EB !important;
    margin-top: 10px;
}

.iconeInd1 {
    justify-items: center !important;
    font-size: 45px !important;
    color: #FFF5EB !important;
    margin-top: 10px;
}


.nomefooter{
    align-items: start !important;
    justify-items: start !important;
    justify-content: flex-start !important;
    margin-left: -500px;
}

.itemsfooter{
    height: 10px !important;
    font-size: 10px !important;
    position: relative !important;
    left: 55px;
}

.footerposition{
    /* min-height: 100vh !important; */
    /* position: absolute !important; */

}

.frasefooter{
    font-family: 'Lato', sans-serif !important;
    color: #FFF5EB !important;
    font-size: 15px !important;
    text-align: center;
}
