.textos1 {
    font-family: 'Sigmar', cursive !important;
}

.imagem {
    background-image: url("https://ik.imagekit.io/projetovoztech/login.jpg?updatedAt=1684763923828");
    background-repeat: no-repeat; 
    width: 100%; 
    min-height: 100vh; 
    background-size: cover; 
    background-position: center;
    margin: 0%;
}

.logo{
    scale: 0.7 !important;

}

.posicaologo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.text-decorator-none {
    text-decoration: none;
}

.formulario {
    
    background-color: #fdfdfd93;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    width: 322px;
    height: 629px;
    justify-content: center;
    margin: auto;
    display: flex;
}

.logo{
    justify-content: center !important;
    display: flex;
    width: 423px;
    height: 197px;
    }

.botao{
    font-size: 20px !important;
    font-weight: bolder !important;
    font-family: 'Roboto', sans-serif !important;
    background-color: #353535 !important;
    color: #EFE6E6 !important;
}

.botao:hover{
    background-color: #EFE6E6 !important;
    color: #353535 !important;
    font-weight: bolder !important;
}

.cadastrese{
    font-size: 18px !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold !important;
    margin-top: -3px !important;
}

.cadastrese:hover{
    color: #1c0b0b95;
    -webkit-stroke-color: #FFF !important;
    -webkit-stroke-width: 0.5px !important;
    -webkit-text-stroke-width: 0.5px #EFE6E6 !important;
}

.espaco{
    background-color: #35353548;
}