.imagem2{
    background-image: url('https://ik.imagekit.io/projetovoztech/lucas-lima-nG5QjJFcHVU-unsplash.jpg?updatedAt=1684763924959');
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: #F9F5F1 !important;
}

.texto2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
    background-color: #1d1718 !important;
}

.btnCadastrar{
    background-color: #eb0b56 !important;
}

.text-decorator-none{
    text-decoration: none;
}

.preencher{
    background-color: #74425329;
}

.formulario{
    padding-left: 75px;
    padding-right: 75px;
}

.boxcadastro{
    /* background-color: #d7bea849; */
    padding: 30px;
    margin: 5px;
    border-radius: 15px;
}