.navbar{
    background-color: #754c3f !important;
    padding-top: 40px !important;
    box-shadow: 2px 4px 6px #3d2720!important;

}

.cursor {
    cursor: pointer;
    margin-bottom: -15px;
    text-align: center;
}

.margemcursor{
    font-family: 'Lato', sans-serif !important;
    font-weight: bold !important;
    color: #3d2720;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f2e1c1 ;
    border-radius: 20px !important;
    border: 1px !important;
    border-color: #3d2720 !important;
    transition: transform 0.5s ease;
    margin-right: 10px !important;
    box-shadow: 2px 4px 6px #3d2720!important;
    margin-top: -15px !important;
}


.margemcursor:hover{
    background-color: #ee9d66;
    color: #3d2720;
    border-radius: 10px;
    transform: scale(0.8);
}

.margemcursor{
    margin: 10px;
}

.text-decorator-none {
    text-decoration: none;
}


