.navbar{
    background-color: #654236 !important;
    padding-top: 40px !important;

}

.cursor {
    cursor: pointer;
    margin-bottom: -15px;

    text-align: center;
}

.margemcursor{
    font-family: 'Lato', sans-serif !important;
    font-weight: bold !important;
    color: #FFF5EB;
    padding-left: 20px;
    padding-right: 20px;
}


.margemcursor:hover{
    background-color: #FFF5EB;
    color: #654236;
    border-radius: 5px;
}

.margemcursor{
    margin: 10px;


}

.text-decorator-none {
    text-decoration: none;
}

