/* Estilizando o primeiro elemento <img> */
.img1 {
  width: 320px;
  height: 320px;
  border-radius: 15px;
  position: relative;
  top: -15px;
  left: -340px;
  transition: transform 0.3s ease;
  /* Adicione outros estilos desejados */
}

.img1:hover {
  transform: scale(0.9);
}

/* Estilizando o segundo elemento <img> */
.img2 {
  width: 320px;
  height: 320px;
  border-radius: 15px;
  position: relative;
  top: -15px;
  left: -340px;
  transition: transform 0.3s ease;
  /* Adicione outros estilos desejados */
}
.img2:hover {
  transform: scale(0.9);
}

/* Estilizando o título "Terra Verde" */
.textTitle {
  font-family: "Lato", sans-serif !important;
  /* font-weight: bold !important; */
  color: #000000;
  font-weight: bold;
  position: relative;
  top: -15px;
  left: -340px;
  /* Adicione outros estilos desejados */
}

/* Estilizando o texto da Terra Verde */
.textStyle {
  font-family: "Lato", sans-serif !important;
  /* font-weight: bold !important; */
  color: #000000;
  font-size: 25px;
  background-color: #ee9c6677;
  border-radius: 5px;
  position: relative;
  top: -15px;
  left: -340px;
  /* Adicione outros estilos desejados */
}

/* Estilizando o Box com a classe "margin" */
.margin {
  margin: 20px;
  /* Adicione outros estilos desejados */
}

/* Estilizando o Box com a classe "imgposicao" */
.imgposicao {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px;
  /* Adicione outros estilos desejados */
}
