.botaonao {
    background-color: #654236 !important;
    color: #FFEBD6 !important;
    margin-left: 15px !important;
}

.botaonao:hover {
    font-weight: bolder !important;
    background-color: #897217 !important;
    color: #FFEBD6 !important;
    transform: scale(0.8) !important;
}

.marginLeft {
    display: flex !important;
    background-color: #a72d04 !important;
    color: #FFEBD6 !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 10px;
}

.marginLeft:hover {
    background-color: #ef3f2b;
    font-weight: bolder !important;
    transform: scale(0.8) !important;
}

.carddelet{
    border: #654236 !important;
}

.deletarpost{
    font-family: 'Lato', sans-serif !important;
    font-size: 17px !important;
    font-weight: bold !important;
    color: #2f1f1a87 !important;
}

.deletarpostagem{
    font-family: 'Lato', sans-serif !important;
    color: #221714 !important;
}