.textos1 {
    font-weight: bold !important;
}

.imagem {
    background-image: url(https://i.pinimg.com/564x/58/88/09/588809c22f710be2bfa0224928e73c14.jpg); 
    background-repeat: no-repeat; 
    width: 100vh; 
    min-height: 100vh; 
    background-size: cover; 
    background-position: center;
}


.text-decorator-none {
    text-decoration: none;
}