.swiper-container {
    height: 400px;
    width: 1300px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.slide-item {
    height:fit-content;
    width: fit-content;
    /* margin-bottom: -20px; */
}

.slide-item img {
    height:fit-content;
    width: fit-content;
    object-fit: cover;
}