.swiper-container {
    height: auto;
    width: 600px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: pink;
}

.slide-item {
    height:fit-content;
    width: fit-content;
    margin-bottom: -20px;
}

.slide-item img {
    height:fit-content;
    width: fit-content;
    object-fit: cover;
}