.imagem2 {
    background-image: url(https://ik.imagekit.io/projetovoztech/lucas-lima-nG5QjJFcHVU-unsplash.jpg?updatedAt=1684763924959); 
    background-repeat: no-repeat; 
    width: 100vh; 
    min-height: 100vh; 
    background-size: cover; 
    background-position: center;
}

.textos2 {
    font-family: 'Sigmar', cursive !important;
}

.btnCancelar {
    margin-right: 20px !important;
    color: #EFE6E6 !important;
    font-family: 'Roboto', sans-serif !important;
    background-color: #353535 !important
}

.btnCadastro {
    font-family: 'Roboto', sans-serif !important;
    color: #EFE6E6 !important;
    background-color: #353535 !important;
}

.btnCadastro:hover, .btnCancelar:hover{
    background-color: #EFE6E6 !important;
    color: #353535 !important;
    font-weight: bolder !important;
}

.formulario2 {
    
    background-color: #fdfdfd86;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    width: 300px;
    height: 550px;
    justify-content: center;
    margin: auto;
    margin-bottom: 120px;
    display: flex;
}

/* .ajuste{

} */

.espaco{
    background-color: #35353548;
}
