.caixa {
    background-color:#FFEBD6;
    flex
}

.titulo {
    color: white !important;
    font-weight: "bold";
}

.botao {
    border-color: white !important;
    background-color: "#FFEBD6" !important; 
    color: white !important;
}

.postagens {
    background-color: #FFEBD6;
}

.text-decoration-none {
    text-decoration: none;;
}